<!doctype html>
<html lang="en">
{% include 'lanchonete/head.html' %}

<body>
  
{% include 'lanchonete/header.html' %}

<div class="container-fluid">

  {% include 'lanchonete/sidebar.html' %}

  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Estoque</h1>
    </div>
    <h2>Produtos</h2>
    <form class="d-flex" method="POST">
      {% csrf_token %}
      <select name="pesquisa" type="button" class="btn btn-primary dropdown-toggle col-2" data-bs-toggle="dropdown"
        aria-expanded="false">
        Tipo
        <option value="todos">Todos</option>
        <option value="salgado">Salgado</option>
        <option value="bebida">Bebida</option>
        <option value="doce">Doce</option>
      </select>
      <button class="btn btn-outline-primary" type="submit">Filtrar</button>
    </form>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>Item</th>
            <th>Preço (TBs)</th>
            <th>Quantidade</th>
          </tr>
        </thead>
        <tbody>
          {% for itens in listagem_produtos %}
          <tr>
            <td>{{itens.nome}}</td>
            <td>{{itens.valor}}</td>
            <td>{{itens.estoque}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
</div>
</body>
</html>