<!doctype html>
<html lang="en">
  {% include 'lanchonete/head.html' %} {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'lanchonete/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lanchonete/carrinho.css' %}">
  
  <body>
    
  {% include 'lanchonete/header.html' %}

<div class="container-fluid">

  {% include 'lanchonete/sidebaruser.html' %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Pagamento</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
        </div>
      </div>
      <h4> Carrinho: </h4>
      <h4> Saldo Atual + Carrinho: </h4>
      <form>
      <div id="pagamento_compra" class="btn-group" role="group">
        <input name="quantia_paga" class='mx-2' type="number" value="0" min="0" max="1000" step="1" />
        <select name="forma_de_pagamento" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
          aria-expanded="false">
          Escolha
          <option value="">Nada</option>
          <option value="">Espécie</option>
          <option value="">Cartão</option>
        </select>
      </div>
  <br>
  <br>
  <h4> Saldo após Pagamento: </h4>
  <button id='pagar_agora' type="submit" class="btn btn-success">Pagar agora</button>
  </form>
  </body>
</html>