<!doctype html>
<html lang="en">
{% include 'lanchonete/head.html' %} {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'lanchonete/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'lanchonete/carrinho.css' %}">

<body>

  {% include 'lanchonete/header.html' %}

  <div class="container-fluid">
      
    {% include 'lanchonete/sidebar.html' %}
      
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">CERNALDO</h1>
        </div>

        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>DATA</th>
                <th>EVENTO</th>
                <th>ITEM</th>
                <th>TB</th>
                <th>QTD</th>
                <th>SLD</th>
                <th>delta</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="7">
                  <table class="table mb-0">
                    <thead>
                      <tr>
                        <th rowspan="2">20-10-22 10:36</th>
                        <th colspan="4" rowspan="2">Compra</th>
                        <th>-10</th>
                        <th>4</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td colspan="2"></td>
                        <td>Kitkat</td>
                        <td>4</td>
                        <td>1</td>
                        <td colspan="2"></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <input class="form-control" type="text" placeholder="Descrição eventualidade" aria-label="default input example">
        <input class="form-control" type="text" placeholder="qtde de TB" aria-label="default input example">
        <button type="button" class="btn btn-sm btn-outline-secondary">OK</button>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">AVISAR</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">VOLTAR</button>
          </div>
        </div>
      </main>
    </div>
  </div>
</body>
</html>
