<!doctype html>
<html lang="en">
{% include 'lanchonete/head.html' %}

<body>
    
{% include 'lanchonete/header.html' %}

<div class="container-fluid">
  
  {% include 'lanchonete/sidebar.html' %}

  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Histórico do usuario {{user_id}}</h1>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>Data</th>
            <th>Evento</th>
            <th>Item</th>
            <th>Preço (TBs)</th>
          </tr>
        </thead>
        <tbody>
          
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        
        </tbody>
      </table>
    </div>

    <label class="form-label col-3">
      <h4>Alteração opcional:</h4>
    </label>
    <form id="formulario_adicionar_item" class="d-flex" method="POST">
      {% csrf_token %}
      <input type="name" name="nome_do_item" class="form-control" id="exampleFormControlInput1"
        placeholder="Ex.: Bixo do ano">
      <label class="form-label col-1">
        <h6>TBs:</h6>
      </label>
      <input name="preco" type="number" value="0" min="0" max="1000" step="1" />
      <input type="hidden" name="nome_do_formulario" value="rainha_formulario_alterar_historico" />
      <button type="submit" class="btn btn-success col-2">Aplicar</button>
    </form>

  </main>
</div>
</body>
</html>