<!doctype html>
<html lang="en">
{% include 'lanchonete/head.html' %} {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'lanchonete/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'lanchonete/carrinho.css' %}">

<body>

  {% include 'lanchonete/header.html' %}

  <div class="container-fluid">
      
    {% include 'lanchonete/sidebar.html' %}

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">DASHBOARD</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
          </div>
        </div>
        <form method="POST">
          {% csrf_token %}

        {% if retirada_sucesso %}
          <div class="alert alert-success mt-4 col-4" role="alert">
            <h5>Retirada de Caixa Feita com Sucesso!</h5>
          </div>
        {% endif %}
        <div class="container">
          <div class="row">
            <div class="col">
              <h3>Dinheiro Disponível:   {{disponivel_total}} TB</h3>
            </div>
          </div>
          <div class="row">

          </div>
          <div class="row">
            <div class="col">
              <h5>Em Espécie:   {{disponivel_em_especie}} TB</h5>
            </div>
          </div>
          <input name="especie_retirado" class='mx-2' type="number" value="0" min="0" max="1000" step="1" />
          <div class="row">
            <div class="col">
              <h5>No Cartão:   {{disponivel_em_cartao}} TB</h5>
            </div>
          </div>
          <input name="cartao_retirado" class='mx-2' type="number" value="0" min="0" max="1000" step="1" />
          <button type="submit" class="btn btn-primary">Retirar Quantias</button>
          <div class="row">
            <div class="col">
            <h4>Balanço dos Consumidores: {{balanco_consumidores}} TB</h4>
            </div>
          </div>
        </div>
        </form>
        <h1 class="h2">Atividades</h1>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>Data</th>
                <th>Info</th>
              </tr>
            </thead>
            <tbody>
              {% for evento in eventos %}
              <tr>
                <th value="{{itens}}"> {{evento.data}}</th>
                <th value="{{itens}}"> {{evento.info}}</th>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </main>
    </div>
  </div>
</body>
</html>
